.tutorial-container {
    padding: 30px 0;
    position: relative;
    background-color: rgb(32, 32, 32);

    .close-tutorial {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 13px;
        color: gray;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .tutorial-content {
        text-align: center;
        max-width: 50%;
        margin: auto;
        font-size: 15px;
    }

    .tutorial-selectors {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px 0;

        .selector {
            width: 8px;
            height: 8px;
            background-color: rgba($color: #fff, $alpha: 0.6);
            margin: 0 5px;
            border-radius: 20px;

            &.active {
                width: 10px;
                height: 10px;
                background-color: rgba($color: #fff, $alpha: 1.0);
            }
        }
    }

    .buttons {
        position: relative;
        margin: auto;
        display: flex;
        justify-content: center;

        span {
            color: #202225
        }
    }
}