@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import "global-css/variables.scss";
body {
  font-family: "Roboto", sans-serif;
  background-color: $pagebackgroundcolor;
}
// *:focus {
//   outline: none;
// }
* {
  outline:none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $text-color;
}
