@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #36393f;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
