.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(202, 60, 60);
  width: fit-content;
  padding: 25px;
  margin: auto;
  border-radius: 10px;
  h1 {
    margin-bottom: 15px;
  }
  fieldset {
    border-color: rgb(192, 72, 72);
    border-width: 5px;
    border-radius: 5px;
  }
  p {
    padding-left: 10px;
  }
  input {
    color: black;
    padding: 5px;
    margin: 10px;
  }
  button {
    background-color: rgb(175, 175, 184);
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    transition: 0.5s background-color;
    &:hover {
      cursor: pointer;
      background-color: rgb(118, 118, 133);
    }
  }
}
