.numpad {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #d35757;
}

.button-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.number {
    width: 50px;
}