.store-list {
  height: 90vh;
  display: flex;

  justify-content: center;
  align-items: center;

  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;

  @media screen and (max-width: 670px) {
    margin-top: 10px;
    display: flex;
    flex-direction: unset;
    width: 100%;
  }
}
