.signupcontainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 30px;
  //   background-color: blue;
  //   @media screen and (max-width: 960px) {
  //     padding: 30px;
  //   }
  h2 {
    margin: 10px 0;
  }
  form {
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 50px #36393f inset; /* Change the color to your own background color */
      -webkit-text-fill-color: white;
    }
    input:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 50px #36393f inset; /* Change the color to your own background color */
      -webkit-text-fill-color: white;
    }
  }
}
