@import "../../global-css/variables.scss";
.map-side-container {
  position: relative;
}

.top-container {
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
  justify-content: space-around;
}
.top-container-expanded {
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
  &__left-section {
    display: flex;
    justify-content: center;
    // background-color: blue;
    margin: 1vh;
    width: 50%;
  }
  &__right-section {
    // background-color: red;
    margin: 1vh;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
}
.side-bar {
  width: 15em;
  height: 95vh;
  color: white;
  background-color: $lightdark;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
  transition: width 1s;

  @media screen and (max-width: 670px) {
    position: relative;
    transition: unset;
    width: unset;
    height: fit-content;
  }
}

.arrow {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 45%;
  right: 14em;
  transition: right 1s;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  cursor: pointer;
  @media screen and (max-width: 670px) {
    display: none;
  }
}

// @keyframes rotation {
//   from {
//     transform: rotate(180deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

.arrow-expanded {
  // animation: rotation 0.5s linear;

  cursor: pointer;
  position: absolute;
  // -webkit-transform: scaleX(-1);
  // transform: scaleX(-1);
  height: 30px;
  width: 30px;
  top: 45%;
  right: 59%;
  transition: right 1s;

  @media screen and (max-width: 1150px) {
    right: 25em;
  }

  @media screen and (max-width: 670px) {
    display: none;
  }
}
.side-bar-expanded {
  width: 60.5%;
  transition: width 1s;
  height: 95vh;
  color: white;
  background-color: $lightdark;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;

  @media screen and (max-width: 1150px) {
    width: 26em;
  }

  @media screen and (max-width: 670px) {
    position: relative;

    width: unset;
    height: fit-content;
  }
  &__driverorder-container {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

    // border-bottom: 1px dotted white;
  }
}
